version: "3.9"
services:
  postgres:
    image: postgres:15
    container_name: edupath-postgres
    environment:
      POSTGRES_DB: edupath
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  adminer:
    image: adminer:latest
    container_name: edupath-adminer
    depends_on:
      - postgres
    ports:
      - "8080:8080"
  rabbitmq:
    image: rabbitmq:3-management
    container_name: edupath-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
volumes:
  pgdata:
